/***********************************************
RULE FOR ALL
************************************************/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;

}

:root {
    --bapp-prymary: #eaeaeaFF;
    --bapp-bg-top: #009688FF;
    --bapp-bg-bottom: #dbdbd3FF;
    --bapp-bg-section: #eaeaeaFF;
    --bapp-bg-sms: #d5f9baFF;
    --bapp-light: #ffffffFF;
    --bapp-txt-lighter: #6b7376FF;
    --bapp-txt: #060606FF;
    --bapp-search: #8edafcFF;
    --bapp-border: rgba(128, 128, 128, 0.174);
    --bapp-icons: #b1b1b1FF;

}

body {

    background: linear-gradient(to top, var(--bapp-bg-bottom) 85%, var(--bapp-bg-top) 50%);

}


/***********************************************
DEBUGT
************************************************/






/* .debug .box-r {

    background-color: yellow;


} */



/* .debug .notify {
    
    height: 100px;
} */

/* .debug .search {
    
    height: 100px;
} */


/* .debug .users {
    background-color: rgb(114, 100, 205);


} */

/* .debug .contact {

    height: 80px;
    
} */



/* .debug .digit {


    background-color: rgb(207, 34, 52);

} */
/* 
.debug .send {
    border: 1px dashed black;
    height: 100px;

}

.debug .recive {
    border: 1px dashed black;
    height: 100px;

} */

.debug .send,
.recive {

    width: 300px;

}






/***********************************************
UTILITIES
************************************************/



.container {

    height: 95vh;
    max-width: 1200px;
    margin: 1rem auto 2rem;
    display: flex;
    overflow: hidden;


}

.row {

    justify-content: space-betwee;

}

img {
    height: 100%;
    border-radius: 50%;
}

a {
    color: var(--bapp-txt-lighter);
}


.users-row {
    display: flex;
    flex-direction: column;
}

.card-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0.8rem;
    height: 70px;
    border-bottom: 1px solid var(--bapp-border);
}


.hour-user {
    height: 80%;

}





.row-1 {
    height: calc((100% / 12) * 1);
}

.row-2 {
    height: calc((100% / 12) * 2);
}

.row-3 {
    height: calc((100% / 12) * 3);
}

.row-4 {
    height: calc((100% / 12) * 4);
}

.row-5 {
    height: calc((100% / 12) * 5);
}

.row-6 {
    height: 50%;
}

.row-7 {
    height: calc((100% / 12) * 7);
}

.row-8 {
    wheight: calc((100% / 12) * 8);
}

.row-9 {
    height: calc((100% / 12) * 9);
}

.row-10 {
    height: calc((100% / 12) * 10);
}

.row-11 {
    height: calc((100% / 12) * 11);
}

.row-12 {
    height: 100%;
}

/* #endregion CALC ROW/12*************************** */



/***********************************************
MAIN
************************************************/

#site_main {
    height: 100vh;
    width: 100%;
    overflow: hidden;

}


/***********************************************
Box Left
************************************************/


.box-l {
    width: 350px;
    height: 100%;
}

.info-account {
    height: 70px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: var(--bapp-prymary);
    padding: 0.5rem;
    border-right: 1px solid var(--bapp-border);
}

.icons {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bapp-icons);
    gap: 1rem;
    padding: 0.5rem;
}

.icon-1,
.icon-2,
.icon-3,
.icon-4 {
    font-size: 120%;
}


.notify {
    height: 70px;
    background-color: var(--bapp-search);
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0.5rem;
}

.icon-4 {
    border-radius: 50%;
    color: var(--bapp-search);
    background-color: var(--bapp-light);
}

.search {
    height: 70px;
    background-color: var(--bapp-prymary);
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.box-src {
    padding: 0.8rem;
    background-color: var(--bapp-light);
    display: flex;
    gap: 1rem;
    color: var(--bapp-txt-lighter);
    width: 95%;
}

.users {
    background-color: var(--bapp-light);
    height: calc(100% - 210px);
    overflow-y: scroll;
}


.txt-chat,
.hour-user {
    color: var(--bapp-txt-lighter);
}


/***********************************************
Box Right
************************************************/



.box-r {
    flex-grow: 1;
    display: flex;
    flex-direction: column;


    >.contact,
    >.digit {
        height: 70px;
    }


    >.sms {
        background-image: url(../img/mine.jpg);
        height: calc(100% - 140px);
        display: flex;
        flex-direction: column;
        padding: 2rem;
        overflow-y: scroll;


        &>div {
            min-height: 140px;
        }

        >.send {
            align-self: flex-end;
            background-color: var(--bapp-bg-sms);
            border-radius: 1rem;


        }

        >.recive {
            align-self: flex-start;
            background-color: var(--bapp-light);
            border-radius: 1rem;
        }

    }



}


.contact,
.digit {
    background-color: var(--bapp-prymary);

}



/***********************************************
MEDIA QUERY FIRST DESKTOP
************************************************/



/* ------LARGE-----------------------------*/

@media screen and (max-width: 1440px) {}


/* ------MEDIUM-----------------------------*/

@media screen and (max-width: 991px) {




    .container {
        height: 100vh;
        margin: 0;
    }

    .box-l {
        width: 80px;
    }


    .notify,
    .search {
        display: none;
    }

    .users {
        height: calc(100% - 70px);
    }

    .icons,
    .column,
    .hour-user {
        display: none;
    }

    .card-user,
    .info-account {
        justify-content: center;
    }


}






/* ------SMALL-----------------------------*/

@media screen and (max-width: 540px) {






    .box-l {
        display: none;
    }







}